Source: ros-iron-simple-launch
Section: misc
Priority: optional
Maintainer: Olivier Kermorgant <olivier.kermorgant@ec-nantes.fr>
Build-Depends: debhelper (>= 9.0.0), ros-iron-ament-cmake-python, ros-iron-ament-index-python, ros-iron-launch, ros-iron-launch-ros, ros-iron-xacro, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-simple-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-ament-index-python, ros-iron-launch, ros-iron-launch-ros, ros-iron-xacro, ros-iron-ros-workspace
Description: Python helper class for the ROS 2 launch system
