Source: ros-rolling-simple-launch
Section: misc
Priority: optional
Maintainer: Olivier Kermorgant <olivier.kermorgant@ec-nantes.fr>
Build-Depends: debhelper (>= 9.0.0), ament-cmake-python, python3-ament-index, ros-rolling-launch, ros-rolling-launch-ros, ros-rolling-xacro, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-simple-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-ament-index, ros-rolling-launch, ros-rolling-launch-ros, ros-rolling-xacro, ros-rolling-ros-workspace
Description: Python helper class for the ROS 2 launch system
